---
import Layout from "@layouts/Layout/Layout.astro";
import { ROUTER } from "@router/router";
import AnimeIsland from "./AnimeIsland/AnimeIsland";
---

<Layout title={ROUTER.anime.display}>
  <main>
    <AnimeIsland client:only="solid-js" />
  </main>
</Layout>
