---
import css from "./Anime.module.css";
import Layout from "@layouts/Layout/Layout.astro";
import { ROUTER } from "@router/router";
---

<Layout title={ROUTER.anime.display}>
  <main class={css.anime}>
    <h1>Anime</h1>
  </main>
</Layout>
