---
import css from "./AnimesView.module.css";
import Layout from "@layouts/Layout/Layout.astro";
import { ANIMES } from "./config";
import AnimesIsland from "./AnimesIsland/AnimesIsland";
---

<Layout title={ANIMES.display}>
  <main class={css.animes}>
    <h1 id="animes_title">{" "}🔍️</h1>
    <AnimesIsland client:only="react" />
  </main>
</Layout>

<style>
  main {
    width: 100%;
  }
</style>

<script>
  import { search_animes_store } from "@react/components/shared/SearchAnimesIsland/SearchAnimes/search_animes_store";
  import { capitalize_first } from "@utils/capitalize_first";
  import { dom } from "@utils/dom/dom";

  document.addEventListener("astro:page-load", () => {
    const title = search_animes_store.store.get().title;
    dom.select("animes_title")?.prepend(capitalize_first(title));
  });
</script>
