---
import Link from "@components/links/Link/Link.astro";
import { ROUTER } from "@router/router";
---

<header>
  <nav>
    <Link href={ROUTER.home.href}>{ROUTER.home.display}</Link>
    <button id="header_search">🔍️</button>
  </nav>
</header>

<script>
  import { search_animes_store } from "@svelte/components/shared/SearchAnimes/search_animes_store";
  import { Dom } from "@utils/dom/dom";

  document.addEventListener("astro:page-load", () => {
    const lupe = Dom.select("header_search");
    lupe?.addEventListener("click", () => {
      search_animes_store.toggle_visible();
    });
  });
</script>

<style>
  header {
    border-bottom: var(--border);
    min-height: var(--h_header);

    display: grid;
    align-items: center;

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--xl);

      @media (max-width: 1024px) {
        gap: var(--lg);
      }

      a {
        color: inherit;
        text-transform: capitalize;

        &:hover {
          color: var(--primary);
        }
      }
    }
  }
</style>
