.search {
  position: relative;

  input {
    padding-right: 2rem;
  }

  .input_err {
    outline: var(--err_outline);
  }

  .lupe,
  .loading,
  .success {
    position: absolute;
    top: 50%;
    right: 0;
  }

  .loading,
  .success {
    transform: translate(-25%, -50%);
    width: 20px;
    height: 20px;
  }

  .lupe {
    transform: translateY(-50%);
    background-color: transparent;

    &:hover {
      transform: translateY(-50%) scale(1.5);
    }
  }
}
