.index {
  .top_anime {
    display: grid;
    gap: var(--xl);

    h2 {
      text-align: center;
    }
  }

  .top_characters {
    padding-top: var(--xl);
    h2 {
      text-align: center;
    }
  }
}
