.index {
  padding-bottom: var(--sm);
  .top_anime {
    display: grid;
    gap: var(--xl);

    h2 {
      text-align: center;
    }
  }

  .top_characters {
    h2 {
      text-align: center;
    }
  }
}
