---
import Layout from "@layouts/Layout/Layout.astro";
import { INDEX } from "./config";
import FavoriteAnimes from "./FavoriteAnimes/FavoriteAnimes.astro";
---

<Layout title={INDEX.display}>
  <main>
    <FavoriteAnimes />
  </main>
</Layout>
