:root {
  --bg_main: #141414;
  --bg_surf: #252525;
  --primary: royalblue;
  --secondary: #732dfd;
  --titles: #fff;
  --paras: #fff;
  --hl: #ff9f1c;
  --accent: #ff6b9d;

  /* Common */
  --blue: #489cfc;
  --red: #ca1a14;
  --green: #8c9900;
  --grey: #9d9d9d;
  --black: #141414;
  --white: whitesmoke;
}
