.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg_surf);
  border-radius: var(--md);

  .form {
    padding: var(--xl);
    position: relative;
    display: flex;
    gap: var(--lg);

    button {
      justify-self: end;
    }

    .cross {
      width: 28px;
      height: 28px;
      cursor: pointer;
      position: absolute;
      top: 6px;
      right: 6px;
    }
  }
}
