.slider {
  height: var(--h_slider);

  .slide {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--bg_surf);
    background-color: transparent;
    line-height: 1rem;
    font-size: 2rem;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}
