---
import css from "./Home.module.css";
import Layout from "@layouts/Layout/Layout.astro";
import { ROUTER } from "@router/router";
---

<Layout title={ROUTER.home.display}>
  <main class={css.home}></main>
</Layout>
