---
import css from "./Home.module.css";
import Layout from "@layouts/Layout/Layout.astro";
import { ROUTER } from "@router/router";
import FavoriteAnimes from "./FavoriteAnimes/FavoriteAnimes.astro";
import Banner1 from "./Banner1/Banner1.astro";
import Banner2 from "./Banner2/Banner2.astro";
---

<Layout title={ROUTER.home.display}>
  <main class={css.home}>
    <FavoriteAnimes />
    <Banner1 />
    <Banner2 />
  </main>
</Layout>
